body {
  background:#f2f2f2;
  font-family:Arial;
}

.container {
  max-width:400px;
  margin:auto;
  padding:15px;
}

.bus-img {
  width:200px;
  display:block;
  margin:auto;
}

.card {
  background:white;
  padding:15px;
  border-radius:10px;
  margin-top:10px;
}

input {
  width:100%;
  padding:10px;
  margin-top:10px;
}

.btn {
  width:100%;
  padding:12px;
  background:red;
  color:white;
  border:none;
  margin-top:10px;
}

.grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.feature-card {
  background:white;
  padding:10px;
  text-align:center;
  border-radius:10px;
}

.bus-card {
  background:white;
  padding:10px;
  margin-top:10px;
  border-radius:10px;
}

/* SEATS */
.seats {
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:10px;
}

.seat {
  background:green;
  color:white;
  text-align:center;
  padding:10px;
}

.booked { background:red; }
.selected { background:blue; }

.map {
  height:200px;
  background:#ddd;
  position:relative;
}
body{
background:#f5f5f5;
font-family:Arial;
}

.container{
max-width:400px;
margin:auto;
padding:15px;
}

.card{
background:white;
padding:15px;
border-radius:15px;
margin-top:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.btn{
background:#d32f2f;
color:white;
padding:12px;
width:100%;
border:none;
border-radius:10px;
margin-top:10px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.feature-card{
background:white;
padding:12px;
text-align:center;
border-radius:10px;
}

.bus-card{
background:white;
padding:10px;
margin-top:10px;
border-left:5px solid red;
border-radius:10px;
}

.bus-img{
width:150px;
display:block;
margin:auto;
}

.seats{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:8px;
}

.seat{
background:green;
color:white;
text-align:center;
padding:8px;
}

.booked{background:red;}
.selected{background:blue;}

.map{
height:200px;
background:#ddd;
position:relative;
}

#bus{
position:absolute;
top:50%;
}
#bus {
  position:absolute;
  top:50%;
}
